<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/panel">
                    <div class="nav-link-icon"><i data-feather="activity"></i></div>
                    Dashboards
                </a>
                <a class="nav-link" href="/panel/facebook">
                    <div class="nav-link-icon"><i data-feather="facebook"></i></div>
                    Facebook
                </a>
                <a class="nav-link" href="/panel/website">
                    <div class="nav-link-icon"><i data-feather="globe"></i></div>
                    Website<span class="badge badge-danger ml-2">20+</span>
                </a>

                <div class="sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseFlows" aria-expanded="false" aria-controls="collapseFlows"
                    ><div class="nav-link-icon"><i data-feather="repeat"></i></div>
                    Flows
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapseFlows" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav"><a class="nav-link" href="multi-tenant-select.html">Multi-Tenant Registration</a></nav>
                </div>
                <div class="sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="/panel/add-products">
                    <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>Thêm sản phẩm</a>
                <a class="nav-link" href="/panel/depot">
                    <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>Kho</a>
                <a class="nav-link" href="/panel/depot">
                    <div class="nav-link-icon"><i data-feather="mail"></i></div>Mail</a>
                <a class="nav-link" href="charts.html"
                ><div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Nhân sự</a>
                <a class="nav-link" href="/panel/customer">
                    <div class="nav-link-icon">
                        <i data-feather="users"></i>
                    </div>
                Khách hàng</a>
                <a class="nav-link" href="tables.html">
                    <div class="nav-link-icon">
                        <i data-feather="filter"></i>
                    </div>
                Hỗ trợ khách hàng</a>
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">Admin</div>
            </div>
        </div>
    </nav>
</div>