<%-include('../frame/head')-%>
    <div class="container-fluid mt-n10">
        <div class="card mb-4 card-header-actions">
            <div class="card-header">Danh sách sản phẩm
                <div>
                    <form class="form-inline mr-auto d-none d-lg-block">
                        <input class="form-control form-control-solid mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                	<a href="customer/723488" title="">ngo thanh tung</a>
                </div>
            </div>
            <div class="card-footer">tung</div>
        </div>
    </div>
<%-include('../frame/footer')-%>