<%-include('frame/head')-%>
    <div class="container-fluid mt-n10">
        <div class="card mb-4">
            <div class="card-header">Thêm sản phẩm vào kho</div>
            <div class="card-body">
                <form>
                    <div class="row ut-upload-imgpart">
                        <div class="col-md-2">
                           <img src="../suit/ao.webp" alt="" class="ut-img-uploadpart card-img-top">
                        </div>
                        <div class="col-md-2">
                            <div class="ut-dash-upload">
                                <div class="ut-up-btn"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="test">Product Name</label>
                            <input type="text" id="test" class="form-control">
                        </div>
                        <div class="col">
                            <label for="test">Product Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="w-100 ut-dis-updo"></div>
                        <div class="col">
                            <label for="test">Product Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label for="test">Product Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="w-100 ut-dis-updo"></div>
                        <div class="col">
                            <label for="test">Product Name</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <h6 class="small text-muted font-weight-500">Chi tiết số lượng từng sản phẩm:</h6>
                    <div style="display: none;" class="sbp-preview mb-4">
                        <div class="sbp-preview-content">
                            +
                        </div>
                        <div class="sbp-preview-text ut-fontsize-inherit ut-colorbox">
                            <div class="row ut-padtop-0">
                                <div class="col-md-3">
                                    <div class="card mb-4">
                                        <div class="card-header">Small</div>
                                        <div class="card-body">
                                            <div class="ut-label-color red">
                                                <label for="color1">red</label>
                                                <input id="color1" class="form-control" type="number">
                                            </div>

                                            <div class="ut-label-color blue">
                                                <label for="color2">blue</label>
                                                <input id="color2" class="form-control" type="number">
                                            </div>

                                            <table class="table-hover" width="100%" cellspacing="0">
                                                <tr>
                                                    <th>Kích thước(cm):</th>
                                                    <td>XL</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-4">
                                        <div class="card-header">Medium</div>
                                        <div class="card-body">
                                            <table class="table-hover" width="100%" cellspacing="0">
                                                <tr>
                                                    <th>Số lượng:</th>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <th>Màu:</th>
                                                    <td>XL</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-4">
                                        <div class="card-header">Large</div>
                                        <div class="card-body">
                                            <table class="table-hover" width="100%" cellspacing="0">
                                                <tr>
                                                    <th>Số lượng:</th>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <th>Màu:</th>
                                                    <td>XL</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-4">
                                        <div class="card-header">XL</div>
                                        <div class="card-body">
                                            <table class="table-hover" width="100%" cellspacing="0">
                                                <tr>
                                                    <th>Số lượng:</th>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <th>Màu:</th>
                                                    <td>XL</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-4">
                                        <div class="card-header">XXL</div>
                                        <div class="card-body">
                                            <table class="table-hover" width="100%" cellspacing="0">
                                                <tr>
                                                    <th>Số lượng:</th>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <th>Màu:</th>
                                                    <td>XL</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary rounded-pill" type="button">Submit -&gt;</button>
            </div>
        </div>
    </div>
<%-include('frame/footer')-%>